.logo-img {
    width: 32vw;
    height: 16vh;
}

.welcome-to {
    color: var(--header_main_color);
    text-align: center;
}

.next-draw {
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1vh 3vw 1vh 3vw;
    gap: 1vh;
}

.prize-pool {
    margin-bottom: 1.5vh;
}

.prize-icon {
    display: inline-block;
    height: 3vw;
    width: 3vw;
}

.total-racers {
    margin-top: 3vh;
}

.buy-ticket {
    border: var(--header_main_color) 3px solid;
    background-color: #0094E5;
    margin-top: 4vh;

    h6 {
      font-weight: 400;
      font-family: 'Joystix Monospace';
      font-size: 4vmin;
    }
  }