.logo-img {
    width: 50vw;
    height: 24vh;
}

.blue-shadow {
    text-shadow: #1CCEF8A1 -0.4vw 0.4vw 0.4vw;
}

.welcome-to {
    color: var(--header_main_color);
}

.next-draw {
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.prize-pool {
    margin-bottom: 1vh;
}

.prize-icon {
    display: inline-block;
    height: 3vw;
    width: 3vw;
}

.total-racers {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
