.my-tickets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-tickets-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin-top: 8vh;
}

.my-tickets-header {
    color: var(--header_main_color);
    margin-bottom: 3vh;
}

.total-profit {
    margin-bottom: 2vh;
}

.ticket-item {
    display: flex;
    border: 1px solid var(--header_main_color);
    border-radius: 12px;
    padding: 1.2vh;
    gap: 2vw;
}

.ticket-right-side {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.ticket-items {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-family: "Inter";
    font-size: 4vmin;
    background-color: black;
}

.ticket-id {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 48vw;
}

.draw-name {
    font-size: 2vmin;
}

.ticket-result {
    font-size: 3vmin;
}

.ticket-date {
    color: gray;
    font-size: 3vmin;
}