.players-list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--header_main_color);
    border-radius: 12px;
    padding: 2vh 4vw 1vh 4vw;
    background-color: black;
    width: 90%;
    min-height: 20vh;
    max-height: 50vh;
    margin-top: 3vh;
    overflow: auto;
    gap: 10px;
}

.players-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin-top: 8vh;
    width: 100%;
}
