.app-main {
  padding: 16px;

  --tgui--secondary_hint_color: #fff;
  --tgui--surface_primary: transparent;
  --tgui--tertiary_bg_color: transparent;
  --tgui--caption1--font_size: 3.4vw;
  --tgui--caption1--line_height: 3vw;
  --header_main_color: #FE01AA;
  --tgui--link_color: var(--header_main_color);
}

.text-headline {
  font-size: 8vmin;
  font-weight: 400;
}

.text-headline-medium {
  font-size: 6vmin;
  font-weight: 400;
}

.text-usual {
  font-size: var(--tgui--caption1--font_size);
  font-weight: 400;
}

.text-mini {
  font-size: 2.8vmin;
  font-weight: 400;
}

.text-small {
  font-size: 2.5vmin;
  font-weight: 400;
}

.text-medium {
  font-size: 4vmin;
  font-weight: 400;
}

.tab-main {
  color: #fff;
}

.inverted {
  filter:invert(100%)
}

.blue-shadow {
  text-shadow: #1CCEF8A1 -3px 3px 10px;
}

.inter-font {
  font-family: "Inter";
}